<!DOCTYPE html>
html(lang="en")
  head
    title W
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/javascripts/script.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    - if(currentURL == '/sf')
      div#register
        div#body!=body
    - else
      div#nav
        ul
          li 
            if(currentURL == '/vendors')
              a(href='/vendors/').current Vendors
            else
              a(href='/vendors/') Vendors
          li
            if(currentURL == '/register')
              a(href='/register/').current Register
            else
              a(href='/register/') Register
          li 
            if(currentURL == '/blog/')
              a(href='/blog/').current Blog
            else
              a(href='/blog/') Blog
          li
            if(currentURL == '/forum/')
              a(href='/forum/').current Forum 
            else
              a(href='/forum/') Forum 
          li
            a(href='/reviews/add') Add Reviews 

        div#container
         div#body!= body