<!DOCTYPE html>
html(lang="en")
  head
    title W
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/javascripts/script.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    - if(currentURL == '/sf')
      div#register
        div#body!=body
    - else
      div#nav
        ul
          li 
            if(currentURL == '/vendors')
              a(href='/vendors/').current Vendors
            else
              a(href='/vendors/') Vendors
           li
            if(currentURL == '/create')
              a(href='/create/').current Create Vendor
            else
              a(href='/create/') Create Vendor 
          li
            if(currentURL == '/register')
              a(href='/register/').current Register
            else
              a(href='/register/') Register
          li 
            if(currentURL == '/blog/')
              a(href='http://wdblog.tanyanam.com').current Blog
            else
              a(href='http://wdblog.tanyanam.com') Blog
          li
            if(currentURL == '/login/')
              a(href='/login/').current Login 
            else
              a(href='/login/') Login 
          li
            a(href='/reviews/add') Add Reviews 

        div#container
         div#body!= body