!!! 5
html(lang="en")
  head
    title Super App
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/javascripts/script.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    - if(currentURL == '/register')
      div#register
        div#body!=body
    - else
    
      div#demo Working with demo: 
        span#currentDemo #{session.demo} 
        a#changedemo(href='#', style='margin-left:10px;') change
        div#demobox(class='classHidden') Change demo: 
          select#newDemo
            option(value='teens') teens
            option(value='moms') moms
            option(value='fashion') fashion
          input#doChangeDemo(type='button', value='OK')
      div#nav
        ul
          li 
            if(currentURL == '/trends/')
              a(href='/trends/').current Trends
            else
              a(href='/trends/') Trends
          li 
            if(currentURL == '/links/')
              a(href='/links/').current Links
            else
              a(href='/links/') Links
          li
            if(currentURL == '/users/')
              a(href='/users/').current Users
            else
              a(href='/users/') Users
          li
            if(currentURL == '/seeds/')
              a(href='/seeds/').current Influencers 
            else
              a(href='/seeds/') Influencers 
        div#container
         div#body!= body