script(type='text/javascript')
    var data =!{JSON.stringify(links)}
script(src='/javascripts/links.js')
    

h1 Links
table#trends
  tr.header
     td 
       a(href='/trends?sort=tag') Link
     td 
       a(href='/trends?sort=tag_date') Today
     td 1 day ago
     td 2 days ago
     td 3 days ago
     td 4 days ago
  each item in links
    - var st = item.link
    - var idstr = st.replace('http://t.co/', '')
    tr(id=idstr)
     td(class="tag")
       
       a(href="#{item.link}", target="_blank") #{item.link}
     td.today
     td.1d
     td.2d
     td.3d
     td.4d
