

.main-content

  - if (user.errors)
    div(class='error')
      ul
        - each err in user.errors
          li= err
  form(action='/register', method='POST', enctype='multipart/form-data') 
    div
      label(for='name') First Name: 
        span.required *
      input(type='text', id='firstname', name='user[firstname]', value='')
    div
      label(for='name') Last Name: 
        span.required *
      input(type='text', id='lastname', name='user[lastname]', value='')
    div
      label(for='name') Email: 
        span.required *
      input(type='text', id='email', name='user[email]', value='')
    div
      label(for='description') Password: 
        span.required *
      input(type='password', id='password', name='user[password]', value='')



    input(type='submit', value='Register', class='submit')
