script(src='/javascripts/plot/jquery.flot.js')
script(type='text/javascript')
    var data =!{JSON.stringify(trends)}
script(src='/javascripts/plot.js')
    

h1 Trend Chart
a(href='/trends') list view
p Mouse over points for more information
div#chartholder(style='width:800px;height:500px')