script(type='text/javascript')
    var data =!{JSON.stringify(trends)}
script(src='/javascripts/trends_hours.js')
    

h1 Trends
a(href='/trends/chart') chart view
table#trends
  tr.header
     td 
       a(href='/trends?sort=tag') Tag
     td 
       a(href='/trends?sort=tag_date') Today, pm
     td Today, am
     td 1 day ago, pm
     td 1 day ago, am
  each item in trends
    - var st = item.tag
    - var len = st.length
    - var myst = st.substr(1,len)
    tr(id=myst)
     td(class="tag")=item.tag
     td.0d_p
     td.0d_a
     td.1d_p
     td.1d_a

