script(src='/javascripts/plot/jquery.flot.js')
script(type='text/javascript')
    var data =!{JSON.stringify(trends)}
script(src='/javascripts/plot.js')
    

h1 Trend Chart
div#chartholder(style='width:800px;height:500px')