body {font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;margin:20px;}
a {color: #00B7FF;}

.classVisible{visibility:visible;}
.classHidden{visibility:hidden;}

.classDisplayBlock{display:block;}
.classDisplayNone{display:none;}

div#demo{float:right;font-weight:bold;}
#demobox{font-weight:normal;}
div#container{border:1px solid #ccc;padding:10px;margin-top:-11px;border-top:0;background:#fff;}
div#container div#body{width:90%;}

div#addLead{padding:10px;border:1px solid #ccc;}


td{padding:2px 5px;}
tr.header td{font-weight:bold;background-color:#eee;padding:7px;}
table#trends td{border:0;text-align:center;width:65px;padding:5px;}
table#trends td.tag{text-align:left;}

table#trends td.newTrend{font-weight:bold;background:transparent url('/images/fire.gif') 90% 50% no-repeat;}
table#trends td.lowerTrend{ background:transparent url('/images/up_arr.gif') 90% 50% no-repeat;}
table#trends td.higherTrend{ background:transparent url('/images/down_arr.gif') 90% 50% no-repeat;}

tr:nth-child(even) {
  background-color: #fff;
}
tr:nth-child(odd) {
  background-color: #EBF4FC;
}

#nav ul{text-align:left;border-bottom:1px solid #ccc; list-style-type:none;padding:10px 10px;}
#nav ul li{display:inline;}
#nav ul li a{font-weight:bold;border:1px solid #ccc; text-decoration:none;padding:10px 20px;border-bottom:none;margin-right:5px;margin-bottom:1px;background-color:#eee}
#nav ul li a.current{background-color:#fff;border-bottom:1px solid #fff;}
#nav ul li a:hover{color:#000;background-color:#eee;}

div#tweets{float:left; width:500px; overflow:hidden;}
div#tags{float:left; width:250px; overflow:hidden;margin-left:50px;}