body {
  padding: 50px;
  font: 11px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
p{display:block; border-bottom:1px solid #eee; margin:10px;}
span{padding:0 15px;}
span.tag{min-width:250px;}
.today{color:blue;}
.yesterday{color:green;}

tr.header td{font-weight:bold;background-color:#eee;padding:7px;}